{% extends "views/layouts/main.njk" %}

{% block pageContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Application complete</h2>
        <p class="govuk-body">This page is a placeholder for the Application complete page.</p>
    </div>
</div>
{% endblock %}
