{% extends "views/layouts/main.njk" %}

{% block pageTitle %}Check your answers – Local Plans Service{% endblock %}

{% block content %}
	{% block dynQuestionContent %}{% endblock %}
{% endblock %}
