@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk with (
	$govuk-font-family: (
		Arial,
		Helvetica,
		sans-serif
	)
);
@use './components/pins-table.scss';
@use 'node_modules/@pins/local-plans-lib/ui/header/pins-header';
@use 'node_modules/@pins/local-plans-lib/ui/footer/pins-footer';

.show-line-breaks {
	white-space: pre;
}

.govuk-main-wrapper {
	width: 66.6666666667%;
}

.govuk-summary-list--no-border .govuk-summary-list__key {
	width: 50% !important;
}
