{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Local Plans Questionnaire</h1>
        
        <p class="govuk-body">
            Help us improve our local plans service by completing this short questionnaire.
        </p>
        
        <p class="govuk-body">
            The questionnaire should take around 5 minutes to complete and covers:
        </p>
        
        <ul class="govuk-list govuk-list--bullet">
            <li>Your personal information</li>
            <li>Your experience with our service</li>
        </ul>
        
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Your answers will be used to improve our services and may be shared with relevant teams.
            </strong>
        </div>
        
        {{ govukButton({
            text: "Start questionnaire",
            href: "/questionnaire/personal/full-name",
            isStartButton: true
        }) }}
    </div>
</div>
{% endblock %}