{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}Draft statement of compliance{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Draft statement of compliance</h1>
            <p class="govuk-body">This is a placeholder page for the Draft statement of compliance upload.</p>
        </div>
    </div>
{% endblock %}
