{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}Project initiation document{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Project initiation document</h1>
            <p class="govuk-body">This is a placeholder page for the Project initiation document upload.</p>
        </div>
    </div>
{% endblock %}
