{% extends "views/layouts/main.njk" %}

{% block pageTitle %}Review declaration{% endblock %}

{% block pageContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Review declaration</h1>
        <p class="govuk-body">Declaration page content to be added.</p>
    </div>
</div>
{% endblock %}
