{% extends "views/layouts/main.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
            titleText: "Gateway 3 submission complete"
        }) }}

        <p class="govuk-body" data-cy="confirmation-email-copy">We've sent you a confirmation email.</p>

        <h2 class="govuk-heading-m" data-cy="what-happens-next-heading">What happens next</h2>

        <ul class="govuk-list govuk-list--bullet" data-cy="what-happens-next-list">
            <li>The Planning Inspectorate will check that your submission is complete and your plan is ready for the next round of assessment</li>
            <li>They will contact you if any further information is required</li>
            <li>At any point you can <a href="{{ planOverviewUrl }}" class="govuk-link" data-cy="check-submission-status">check your submission status</a></li>
        </ul>

        <p class="govuk-body" data-cy="get-in-touch-copy">If you need to adjust your submission, <a href="https://contact-us.planninginspectorate.gov.uk/hc/en-gb/requests/new" class="govuk-link" data-cy="get-in-touch">get in touch</a>.</p>
    </div>
</div>
{% endblock %}
