{% extends "views/layouts/main.njk" %}

{% block pageTitle %}
    Local Plans Examination Service - {{ config.headerTitle }}
{% endblock %}

{% block pageContent %}
    <h2 class="govuk-heading-m">Welcome</h2>

    <h2 class="govuk-heading-m">Quick actions</h2>
     <p class="govuk-body">
       <a href="/create-a-case" class="govuk-link">Create a case</a>
     </p>
          <p class="govuk-body">
            <a href="/cases" class="govuk-link">View all cases</a>
          </p>
{% endblock %}