{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="post" novalidate>
                <input type="hidden" name="_csrf" value="{{ _csrf }}">
                {{ govukInput({
                    id: "email",
                    name: "email",
                    label: {
                        text: emailQuestionText,
                        classes: "govuk-label--m",
                        isPageHeading: true
                    },
                    errorMessage: errors.email and {
                        text: errors.email.msg
                    }
                }) }}

                {{ govukInput({
                    id: "caseReference",
                    name: "caseReference",
                    label: {
                        text: caseNumberQuestionText,
                        classes: "govuk-label--m",
                        isPageHeading: true
                    },
                    hint: {
                        text: caseNumberHintText
                    },
                    errorMessage: errors.caseReference and {
                        text: errors.caseReference.msg
                    }
                }) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    attributes: { "data-cy":"button-save-and-continue"}
                }) }}
            </form>
        </div>
    </div>
{% endblock %}