{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-grid-column-full-from-desktop">
            {% if showNewCodeMessage %}
                {{ govukNotificationBanner({
                    text: "We've sent a code to your email address.",
                    type: 'success',
                    attributes: {
                        "data-cy": "new-code-banner"
                    }
                }) }}
            {% endif %}

            <form action="" method="post" novalidate>
                <input type="hidden" name="_csrf" value="{{ _csrf }}">

                {{ govukInput({
                    id: "otp",
                    name: "otp",
                    label: {
                        text: "Enter your One Time Password (OTP)",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Enter the code which was emailed to " + userEmail,
                        attributes: {
                            "data-cy": "otp-hint"
                        }
                    },
                    classes: "govuk-input--width-10",
                    attributes: {
                        "data-cy": "otp"
                    },
                    errorMessage: errors.otp and {
                        text: errors.otp.msg
                    }
                }) }}


                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    attributes: { "data-cy":"button-save-and-continue"}
                }) }}
            </form>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-grid-column-full-from-desktop">
            <p class="govuk-body">It may take a few minutes to arrive, if you don't receive the email:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Check the email address is correct.</li>
                <li>Check your spam or junk folder.</li>
            </ul>
            <p class="govuk-body">If everything looks correct but you still have not received the email, you still haven't received the email we can <a href="{{ backLinkUrl }}/request-new-code" class="govuk-link govuk-link--no-visited-state" data-cy="request-new-code">request a new code</a>.</p>


            {{ govukDetails({
                summaryText: "If you are still having problems",
                attributes: {
                    "data-cy": "support-details"
                },
                html: '<p class="govuk-body">Contact our support team.</p><p class="govuk-body">Telephone: 0303 444 5000<br>Monday to Friday, 9am to midday (except public holidays)</p><p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state">Find out about call charges</a></p>'
            }) }}
        </div>
    </div>
{% endblock %}