{% extends "views/layouts/main.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set overviewHref = "/case/" + currentCase.reference | urlencode + "?section=overview" %}
{% set caseHistoryHref = "/case/" + currentCase.reference | urlencode + "?section=case-history" %}

{% block pageContent %}
{{ govukServiceNavigation({
  navigation: [
    {
      href: overviewHref,
      text: "Overview",
      active: currentSection == "overview"
    },
    {
      href: "#",
      text: "Timetable"
    },
    {
      href: "#",
      text: "Gateway 1"
    },
    {
      href:"#",
      text: "Gateway 2"
    },
    {
      href:"#",
      text: "Gateway 3"
    },
    {
      href:"#",
      text: "Examination"
    },
    {
      href: caseHistoryHref,
      text: "Case History",
      active: currentSection == "case-history"
    }
  ],
  attributes: {
    "id": "service-navigation",
    "data-cy": "service-navigation"
  }
}) }}

{% if currentSection == "case-history" %}
  <h1 class="govuk-heading-m">Updates</h1>
{% endif %}

{% endblock %}

