{% extends "views/layouts/main.njk" %}

{% block pageContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Gateway 2 Application</h2>
        <p class="govuk-body">This page is a placeholder for the Gateway 2 application page where documents will be displayed.</p>
    </div>
</div>
{% endblock %}
