{% extends "views/layouts/main.njk" %}

{% block pageContent %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<p class="govuk-body">
				This is a placeholder page for the My Plans dashboard. This will be replaced with the full implementation.
			</p>
		</div>
	</div>
{% endblock %}
