{% extends layoutTemplate %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block before_content %}
	{% if backLink %}
		<a href="{{ backLink }}" class="govuk-back-link">Back</a>
	{% endif %}
	{% if errorSummary %}
		{{ govukErrorSummary({
			titleText: "There is a problem",
			errorList: errorSummary
		}) }}
	{% endif %}
{% endblock before_content %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% if question.text.caption %}
				<span class="govuk-caption-l">{{ question.text.caption }}</span>
			{% endif %}
			<h1 class="govuk-heading-l">{{ question.question }}</h1>

			{% if question.text.introduction %}
				<p class="govuk-body">{{ question.text.introduction }}</p>
			{% endif %}

			{% if question.text.bulletList and question.text.bulletList.length %}
				<ul class="govuk-list govuk-list--bullet">
					{% for item in question.text.bulletList %}
						<li>{{ item }}</li>
					{% endfor %}
				</ul>
			{% endif %}

			{% if question.text.fileRequirementsText %}
				<p class="govuk-body">{{ question.text.fileRequirementsText }}</p>
			{% endif %}

			{% if question.text.totalUploadSizeText %}
				<p class="govuk-body">{{ question.text.totalUploadSizeText }}</p>
			{% endif %}

			{# uploaded files list removed - shown on task list instead #}

			<form id="upload-form" class="file-uploader-custom" method="post" enctype="multipart/form-data" action="{{ currentUrl }}/upload-documents">
				<input type="hidden" name="_csrf" value="{{ _csrf }}">
				{{ govukFileUpload({
					id: question.fieldName,
					name: "files[]",
					label: {
						text: question.text.uploadLabel or "Upload files",
						classes: "govuk-visually-hidden"
					},
					javascript: true,
					multiple: question.multiple if question.multiple else undefined,
					chooseFilesButtonText: question.text.chooseFilesButtonText or "Choose files",
					dropInstructionText: question.text.dropInstructionText or "or drop files",
					attributes: {
						accept: question.allowedMimeTypes | join(", ")
					},
					errorMessage: errors["upload-form"] and {
						text: errors["upload-form"].msg
					}
				}) }}
				{{ govukButton({
					text: question.text.continueButtonText or continueButtonText or "Continue",
					type: "submit"
				}) }}
			</form>

			{% if question.text.returnLink %}
				<p class="govuk-body">
					<a class="govuk-link" href="{{ question.text.returnLink.href or listLink }}">{{ question.text.returnLink.text }}</a>
				</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
