{% extends layoutTemplate %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block before_content %}
	{% if backLink %}
		<a href="{{ backLink }}" class="govuk-back-link">Back</a>
	{% endif %}
	{% if errorSummary %}
		{{ govukErrorSummary({
			titleText: "There is a problem",
			errorList: errorSummary
		}) }}
	{% endif %}
{% endblock before_content %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% if question.text.caption %}
				<span class="govuk-caption-l">{{ question.text.caption }}</span>
			{% endif %}
			<h1 class="govuk-heading-l">{{ question.question }}</h1>

			{% if question.text.introduction %}
				<p class="govuk-body">{{ question.text.introduction }}</p>
			{% endif %}

			{% if question.text.bulletList and question.text.bulletList.length %}
				<ul class="govuk-list govuk-list--bullet">
					{% for item in question.text.bulletList %}
						<li>{{ item }}</li>
					{% endfor %}
				</ul>
			{% endif %}

			<form action="{{ currentUrl }}/upload-documents" method="post" enctype="multipart/form-data"
				data-module="multi-file-upload"
				data-upload-url="{{ currentUrl }}/upload-documents"
				data-delete-url="{{ currentUrl }}/delete-document"
				data-csrf="{{ _csrf }}">
				<input type="hidden" name="_csrf" value="{{ _csrf }}">

				<div class="multi-file-upload__uploaded-files" id="files-added-section">
					<h2 class="govuk-heading-m">Files added</h2>
					<dl class="govuk-summary-list multi-file-upload__list" id="files-added-list">
						{% if uploadedFiles and uploadedFiles.length %}
							{% for file in uploadedFiles %}
								<div class="govuk-summary-list__row" data-file-id="{{ file.id }}">
									<dt class="govuk-summary-list__key">
										{{ file.fileName }} (100%)
									</dt>
									<dd class="govuk-summary-list__actions">
										<a href="#" class="govuk-link multi-file-upload__delete" data-file-id="{{ file.id }}">
											Remove<span class="govuk-visually-hidden"> {{ file.fileName }}</span>
										</a>
									</dd>
								</div>
							{% endfor %}
						{% endif %}
					</dl>
				</div>

				<div class="multi-file-upload__upload">
					<h2 class="govuk-heading-m">Upload files</h2>

					{% if question.text.fileRequirementsText %}
						<p class="govuk-body">{{ question.text.fileRequirementsText }}</p>
					{% endif %}

					{{ govukFileUpload({
						id: question.fieldName,
						name: "files[]",
						label: {
							text: "Upload a file",
							classes: "govuk-visually-hidden"
						},
						javascript: true,
						multiple: question.multiple,
						chooseFilesButtonText: question.text.chooseFilesButtonText or "Select files",
						dropInstructionText: question.text.dropInstructionText or "Drag and drop files here or",
						attributes: {
							accept: question.allowedMimeTypes | join(", ")
						},
						errorMessage: errors["upload-form"] and {
							text: errors["upload-form"].msg
						}
					}) }}
				</div>

				{{ govukButton({
					text: question.text.continueButtonText or "Save and return"
				}) }}
			</form>
		</div>
	</div>
	<script {% if cspNonce %}nonce={{ cspNonce }}{% endif %} src="/assets/js/file-uploader.js"></script>
{% endblock %}
