{% extends "views/layouts/main.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageContent %}
<h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

{{ govukTable({
    firstCellIsHeader: false,
    head: [
        {
            text: 'Plan reference'
        },
        {
            text: 'Plan title'
        },
        {
            text: 'Actions'
        }
    ],
    rows: cases.map(case => [
        {
            html: `<a href="/case/${case.reference}" class="govuk-link">${case.reference}</a>`
        },
        {
            text: case.planTitle
        },
        {
            html: `<a href="/case/${case.reference}" class="govuk-link">View</a>`
        }
    ])
}) }}

{{ govukButton({
    text: 'Create a new plan',
    href: '/create-a-case',
    classes: 'govuk-button--secondary'
}) }}
{% endblock %}
