{% extends "views/layouts/main.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block backLink %}
  {{ govukBackLink({
    href: "/",
    attributes: {
      "data-cy": "back-link"
    }
  }) }}
{% endblock %}

{% block pageContent %}
  <span class="govuk-caption-l">{{ reference }}</span>
  <h1 class="govuk-heading-l">{{ planTitle }}</h1>

{{ govukServiceNavigation({
  navigation: navigation,
  attributes: {
    "id": "service-navigation",
    "data-cy": "service-navigation"
  }
}) }}

{% if currentSection == "case-history" %}
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">
  <h2 class="govuk-heading-l">Case history</h2>

  {% set rows = [] %}
  {% for history in currentCase.caseHistories %}
    {% set row = [
      { text: history.date | date("YYYY-MM-DD HH:mm"), attributes: { "data-cy": "case-history-date" } },
      { text: history.event, attributes: { "data-cy": "case-history-event" } },
      { text: history.username, attributes: { "data-cy": "case-history-user" } }
    ] %}
    {% set _ = rows.push(row) %}
  {% endfor %}

  {{ govukTable({
    head: [
      {
        text: "Date"
      },
      {
        text: "Event"
      },
      {
        text: "User"
      }
    ],
    rows: rows,
    attributes: {
      "data-cy": "case-history-table"
    }
    })
  }}

{% else %}
  <div class="govuk-grid-row govuk-!-margin-top-6">
          <div class="govuk-grid-column-full">
              {% for section in summaryListData.sections %}
                  {% if section.list.rows.length %}
                    <h2 class="govuk-heading-l">{{ section.heading }}</h2>
                    {{ govukSummaryList({
                          rows: section.list.rows
                      }) }}
                  {% endif %}
              {% endfor %}
          </div>
      </div>
    {{ govukButton({
      text: "Delete case",
      classes: "govuk-button--warning"
    }) }}
{% endif %}
{% endblock %}

