{% extends "views/layouts/main.njk" %}

{% block pageTitle %}Check your answers{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Check your answers</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% for section in summaryListData.sections %}
                {% if section.list.rows.length %}
                    {{ govukSummaryList({
                        card: {
                            title: {
                                text: section.heading
                            },
                            attributes: {id: section.heading | lower}
                        },
                        rows: section.list.rows
                    }) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if journeyComplete %}
        <form method="POST">
            {{ govukButton({
                text: "Submit case"
            }) }}
        </form>

    {% else %}
        <strong class="govuk-tag govuk-tag--grey">
            Cannot submit yet
        </strong>
    {% endif %}

{% endblock %}
