{% extends "views/layouts/main.njk" %}

{% block pageTitle %}Check your answers{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l" data-cy="check-your-answers-heading">Check workshop details and issue notification</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% for section in summaryListData.sections %}
                {% if section.list.rows.length %}
                    {{ govukSummaryList({
                        card: {
                            title: {
                                text: section.heading
                            },
                            attributes: {id: section.heading | lower}
                        },
                        rows: section.list.rows
                    }) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <details class="govuk-details" data-cy="preview-email-to-lpa">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Preview notification to LPA
    </span>
  </summary>
  <div class="govuk-details__text">
    {% include "views/layouts/notification-preview/" + notificationPreviewTemplate + ".njk" %}
  </div>
</details>
<p class='govuk-body'>We’ll send a notification to the LPA to tell them that the workshop details are available.</p>


    {% if journeyComplete %}
        <form method="POST">
            {% if _csrf %}<input type="hidden" name="_csrf" value="{{ _csrf }}">{% endif %}
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Submit case",
                    attributes: { "data-cy": "submit-case" }
                }) }}
                <a href="{{ '/case/' + reference + '/gateway-2' }}" class='govuk-link'>Cancel</a>
            </div>
        </form>

    {% else %}
        <strong class="govuk-tag govuk-tag--grey" data-cy="cannot-submit-yet">
            Cannot submit yet
        </strong>
    {% endif %}
    
{% endblock %}
