ENVIRONMENT=dev

# Portal URL for login invite emails
PORTAL_URL=http://localhost:8080

# the log level for pino
LOG_LEVEL=debug

# a secret used for sessions
SESSION_SECRET=not-a-real-secret
SQL_CONNECTION_STRING=<populate-SQL-connection-string>

# Gov Notify
GOV_NOTIFY_DISABLED=true
GOV_NOTIFY_API_KEY=<api-key>
GOV_NOTIFY_WEBHOOK_TOKEN=<webhook-token>
GOV_NOTIFY_LOGIN_INVITE_TEMPLATE_ID=<template-id-from-gov-notify>
FEATURE_FLAG_NOTIFY_CALLBACK_ENABLED=false