# local-plans-manage

ENVIRONMENT=dev

# the log level for pino
LOG_LEVEL=debug

# Authentication
AUTH_DISABLED=false
## Only required if AUTH_DISABLED=false
APP_HOSTNAME=localhost:8090
AUTH_CLIENT_ID=<populate-client-id>
AUTH_GROUP_APPLICATION_ACCESS=<populate-entra-group-for-app-access>
AUTH_TENANT_ID='5878df98-6f88-48ab-9322-998ce557088d'
AUTH_CLIENT_SECRET=<populate-client-secret>

# a secret used for sessions
SESSION_SECRET=not-a-real-secret
SQL_CONNECTION_STRING=<populate-SQL-connection-string>

# Gov Notify
GOV_NOTIFY_DISABLED=true
GOV_NOTIFY_API_KEY=<api-key>
GOV_NOTIFY_WEBHOOK_TOKEN=<webhook-token>
GOV_NOTIFY_CASE_ASSIGNMENT_TEMPLATE_ID=<uuid>
GOV_NOTIFY_CASE_UPDATE_TEMPLATE_ID=<uuid>
FEATURE_FLAG_NOTIFY_CALLBACK_ENABLED=false
