ENVIRONMENT=dev

# used for the magic link
PORTAL_URL=http://localhost:8080
MAGIC_LINK_PATH=/login/verify/
TEMPLATE_ID=<id-from-gov-notify>

# the log level for pino
LOG_LEVEL=debug

# a secret used for sessions
SESSION_SECRET=not-a-real-secret
SQL_CONNECTION_STRING=<populate-SQL-connection-string>

# Gov Notify
GOV_NOTIFY_DISABLED=true
GOV_NOTIFY_API_KEY=<api-key>
GOV_NOTIFY_WEBHOOK_TOKEN=<webhook-token>
FEATURE_FLAG_NOTIFY_CALLBACK_ENABLED=false