<div class="pins-notify-preview-border"> 
    <h3>Notification details</h3>

    <div class="govuk-inset-text">
    Plan reference {{ caseReference }} <br>
    </div>
    <h3> Gateway 3 report</h3>

    <p>Enclosed is the Gateway 3 report.</p>

    <p><a href="#" class="govuk-link">Sign in to our service</a> to view the report.</p>

    <h3> Feedback</h3>

    <p>We welcome your feedback on our Plans Examination service. Tell us on this short <a href="#" class="govuk-link">feedback form</a>.</p>

    <p>The Planning Inspectorate</p>
    <p>enquiries@planninginspectorate.gov.uk</p> 
</div>