# local-plans-portal

# the log level for pino
LOG_LEVEL=debug

# a secret used for sessions
SESSION_SECRET=not-a-real-secret
SQL_CONNECTION_STRING=<populate-SQL-connection-string>

# Gov Notify
GOV_NOTIFY_DISABLED=true
GOV_NOTIFY_API_KEY=<api-key>
GOV_NOTIFY_AUTH_CODE_TEMPLATE_ID=<uuid>