{% extends layoutTemplate %}

{% block before_content %}
	{% if backLink %}
		<a href="{{ backLink }}" class="govuk-back-link" data-cy="back-link">Back</a>
	{% endif %}
	{% if errorSummary %}
		{{ govukErrorSummary({
			titleText: "There is a problem",
			errorList: errorSummary
		}) }}
	{% endif %}
{% endblock before_content %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-6">
          <div class="govuk-grid-column-full">
              {% for section in summaryListData.sections %}
                  {% set formattedRows = [] %}
                  {% for row in section.list.rows %}
                    {% if row %}
                      {% if row.actions.items[0].text == "Answer" %}
                        {% set formattedRow = {
                          key: row.key,
                          value: row.value,
                          actions: {items: [{href: row.actions.items[0].href, text: "Add"}]}
                        } %}
                      {% else %}
                        {% set formattedRow = {
                          key: row.key,
                          value: row.value,
                          actions: row.actions
                        } %}
                      {% endif %}
                    {% set _ = formattedRows.push(formattedRow) %}
                    {% endif %}
                  {% endfor %}
                  {% if section.list.rows.length %}
                    <h2 class="govuk-heading-l">{{ section.heading }}</h2>
                    {{ govukSummaryList({
                          rows: formattedRows
                      }) }}
                  {% endif %}
              {% endfor %}
          </div>
      </div>
{% endblock content %}